.app__form {
  width: 40%;
  flex-direction: column;
  margin: 1rem 2rem;
  div {
    width: 100%;
    margin: 0.75rem 0;
    border-radius: 20px;
    cursor: pointer;
    background-color: var(--primary-color);
    transition: all 0.3s ease-in-out;

    input,
    textarea {
      width: 100%;
      padding: 0.95rem;
      border: none;
      border-radius: 10px;
      background-color: var(--primary-color);
      font-family: var(--font-base);
      color: var(--secondary-color);
      outline: none;
    }

    textarea {
      height: 150px;
    }
    &:hover {
      box-shadow: 0 0 25px var(--primary-color);
    }
  }
  button {
    padding: 1rem 2rem;
    border-radius: 20px;
    border: none;
    background-color: var(--secondary-color);
    color: var(--white-color);
    font-weight: 500;
    margin: 2rem 0 0;
    font-family: var(--font-base);
    cursor: pointer;
  }
  @media screen and (max-width: 768px) {
    width: 100%;
    margin: 1rem 0;
    padding: 1rem;
  }
}


